<div class="">
    <section id="inicio" class="d-flex justify-content-center align-items-center bg-hero">
      <div class="clouds-img">
        <img src="../../../assets/images/hero-banner/cloud_1.png" alt="Clouds" class="cloud1" loading="eager" data-aos-delay="200" data-aos="fade-left">
        <img src="../../../assets/images/hero-banner/cloud_2.png" alt="Clouds" class="cloud2" loading="eager" data-aos-delay="500" data-aos="zoom-in-up">
        <img src="../../../assets/images/hero-banner/cloud_3.png" alt="Clouds" class="cloud3" loading="eager" data-aos="fade-right" data-aos-delay="600">
      </div>
      <div class="text-center bg-hero_content" data-aos="fade-up" data-aos-delay="300">
          <h3 class="fw-normal font-space">Identidad y Propósito</h3>
          <h1 class="text-title">Congreso Juvenil</h1>
      </div>
      <img src="../../../assets/images/hero-nosky.webp" alt="Hero-Background" class="hero-nosky" loading="eager">
    </section>
</div>

<div class="d-flex flex-column bg-about space-section align-items-center justify-content-start gap-5" id="evento">
    <section class="mt-content about-section">
        <div class="container d-flex flex-column-reverse flex-lg-row justify-content-center align-items-center gap-5">
            <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
                <img src="../../../assets/images/about-img.webp" alt="" class="img-about" loading="eager">
            </div>
            <div class="col-10 col-md-12 col-lg-5 d-flex flex-column justify-content-center align-items-start gap-4">
              <div class="d-flex flex-column align-items-start gap-4 gap-lg-1">
                <h3 class="font-space">Modelo</h3>
                <h4 class="font-space font-60">Juvenil “S.A.N.A.R”</h4>
              </div>
                <p>El modelo S.A.N.A.R. garantiza que cada actividad, desde la predicación más solemne hasta el juego más dinámico, tenga una razón de ser dentro del ecosistema del congreso.
                </p>
                <div class="d-flex flex-column flex-md-row align-items-start align-items-md-center justify-content-center justify-content-lg-between col-12 gap-5 gap-lg-0">
                  <div>
                    <div class="d-flex align-items-center justify-content-start gap-2">
                      <img src="../../../assets/images/icons/icon_location.svg" alt="Icono Location" class="icon-about" style="width: 24px; height: 24px;">
                      <p class="fs-3 fw-medium font-space">Lugar</p>
                    </div>
                    <p>Phoenix, Arizona</p>
                  </div>
                  <div>
                    <div class="d-flex align-items-center justify-content-start gap-2">
                      <img src="../../../assets/images/icons/icon_calendar.svg" alt="Icono Calendar" class="icon-about" style="width: 24px; height: 24px;">
                      <p class="fs-3 fw-medium font-space">Fecha</p>
                    </div>
                    <p>16-18 de octubre de 2026</p>
                  </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container d-flex flex-column align-items-center justify-content-center gap-4 mt-5">
      <div class=" d-flex flex-column align-items-center justify-content-center gap-2">
        <h4 class="font-space fs-2">El camino de sanidad</h4>
        <p>Las 5 Fases del Modelo S.A.N.A.R.</p>
      </div>
      <div class="sanar-tabs-section container d-flex flex-column align-items-center justify-content-center">
        <ul class="nav nav-tabs d-flex flex-row align-items-center justify-content-center" role="tablist">
          <li class="nav-item" role="presentation">
            <button type="button" class="nav-link font-space" [ngClass]="{'active': currentTab === 'S'}" (click)="changeTab('S')">
              S
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button type="button" class="nav-link font-space" [ngClass]="{'active': currentTab === 'A1'}" (click)="changeTab('A1')">
              A
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button type="button" class="nav-link font-space" [ngClass]="{'active': currentTab === 'N'}" (click)="changeTab('N')">
              N
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button type="button" class="nav-link font-space" [ngClass]="{'active': currentTab === 'A2'}" (click)="changeTab('A2')">
              A
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button type="button" class="nav-link font-space" [ngClass]="{'active': currentTab === 'R'}" (click)="changeTab('R')">
              R
            </button>
          </li>
        </ul>

        <div class="tab-content main-card-content col-7 col-md-12">
          <div *ngIf="currentTab === 'S'" class="tab-pane fade show active">
            <div class="row align-items-center h-100">
              <div class="content-text-block">
                <h2 class="content-title font-space fs-4">Suelta (Viernes por la noche) | La Catarsis Espiritual</h2>
                <p class="content-description">
                  El proceso de sanidad exige limpiar el terreno primero. Esta fase está diseñada para llevar a los jóvenes a la renuncia. Se invitará a la audiencia a soltar el peso de la culpa, los vicios, la ansiedad y las falsas expectativas que el mundo les impone. Para que un joven pueda descubrir su verdadera identidad, primero debe despojarse de todo lo que lo ata.
                </p>
                <a class="btn btn-learn-more text-decoration-none fs-6" href="#agenda">Ver las actividades</a>
              </div>
            </div>
          </div>

          <div *ngIf="currentTab === 'A1'" class="tab-pane fade show active">
            <div class="row align-items-center h-100">
              <div class="content-text-block">
                <h2 class="content-title font-space fs-4">Abraza (Sábado por la mañana) | La Consolidación de la Identidad</h2>
                <p class="content-description">
                  Un corazón que ha sido vaciado no puede quedar a la deriva. En esta fase, el enfoque es pedir y recibir la unción del Espíritu Santo. Psicológica y espiritualmente, es el momento de la afirmación: los jóvenes son llamados a abrazar su adopción divina y su identidad en Cristo, llenando el espacio dejado la noche anterior con una profunda certidumbre espiritual.
                </p>
                <a class="btn btn-learn-more text-decoration-none fs-6" href="#agenda">Ver las actividades</a>
              </div>
            </div>
          </div>

          <div *ngIf="currentTab === 'N'" class="tab-pane fade show active">
            <div class="row align-items-center h-100">
              <div class="content-text-block">
                <h2 class="content-title font-space fs-4">Nutre (Sábado después del lunch) | El Propósito en Acción</h2>
                <p class="content-description">La identidad cristiana se estanca si no tiene un propósito. Una vez llenos del Espíritu, el paso lógico en su sanidad es volcarse hacia los demás. En este bloque, realizaremos un impacto misionero masivo. Al salir a compartir el mensaje de Dios y nutrir a la comunidad, los jóvenes viven su propósito de primera mano, pasando de la introspección a la acción.</p>
                <a class="btn btn-learn-more text-decoration-none fs-6" href="#agenda">Ver las actividades</a>
              </div>
            </div>
          </div>

          <div *ngIf="currentTab === 'A2'" class="tab-pane fade show active">
            <div class="row align-items-center h-100">
              <div class="content-text-block">
                <h2 class="content-title font-space fs-4">Adora (Sábado por la tarde) | La Celebración Práctica de la Fe</h2>
                <p class="content-description">Después de servir, la respuesta natural es la gratitud, pero entenderemos la adoración más allá del canto: como una actitud integral y de comunidad. Este bloque será altamente interactivo; aunque contaremos con participaciones musicales inspiradoras de distintos grupos de la Unión, el espacio integrará dinámicas grupales y juegos bíblicos. El orador conectará estas actividades bajo la premisa de que adorar es también celebrar nuestra fe juntos, reforzando el sentido de pertenencia y manteniendo la continuidad lógica del programa.</p>
                <a class="btn btn-learn-more text-decoration-none fs-6" href="#agenda">Ver las actividades</a>
            </div>
            </div>
          </div>

          <div *ngIf="currentTab === 'R'" class="tab-pane fade show active">
            <div class="row align-items-center h-100">
              <div class="content-text-block">
                <h2 class="content-title font-space fs-4">Recrea (Sábado por la noche y Domingo por la mañana) | El Bienestar Integral</h2>
                <p class="content-description">La sanidad mental y espiritual incluye el esparcimiento sano. Para concluir la experiencia, demostraremos que la fe es práctica, alegre y relacional. A través de una gran kermés, torneos deportivos y dinámicas sociales, los jóvenes recrearán su mente y su cuerpo. Esto cierra el congreso fortaleciendo lazos de amistad, generando altos niveles de bienestar y dejando el deseo de regresar en el futuro.</p>
                <a class="btn btn-learn-more text-decoration-none fs-6" href="#agenda">Ver las actividades</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
    <section class="mt-0 mt-md-5 col-10 col-lg-8">
      <div class="carousel-section container" id="hospedaje">
        <div class="carousel-header" data-aos="fade-down">
          <div class="header-text">
            <h2 class="font-space fs-2 fw-medium">Opciones de hospedaje cercanas</h2>
            <p class="col-lg-10">Te compartimos algunas sugerencias de Airbnb independientes al evento.</p>
            <p class="col-lg-10">Recomendamos verificar su disponibilidad y reservar con tiempo, ya que los espacios suelen agotarse rápido.</p>
          </div>

          <div class="carousel-controls" *ngIf="listings.length > 0">
            <button class="control-btn" (click)="prev()" [disabled]="currentIndex === 0" aria-label="Anterior">
              <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                <path d="M15 19l-7-7 7-7" />
              </svg>
            </button>
            <button class="control-btn" (click)="next()" [disabled]="currentIndex === maxIndex" aria-label="Siguiente">
              <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                <path d="M9 5l7 7-7 7" />
              </svg>
            </button>
          </div>
        </div>

        <div class="carousel-container" data-aos="fade-up">
          <div class="carousel-track" [style.--current-index]="currentIndex">

            @for (item of listings; track item.id) {
            <a href="{{ item.url }}" class="card-alojamiento" target="_blank" rel="noopener noreferrer">
              <div class="card-image">
                <img [src]="item.thumbnail" [alt]="item.title" loading="eager" class="rounded-4">
              </div>
              <div class="card-content">
                <span class="card-price">{{ item.price.breakDown.basePrice.description }}</span>
                <h3 class="card-title my-3" [title]="item.title">{{ item.title }}</h3>

                <div class="card-amenities">
                  <div class="amenity">
                    <img src="assets/images/airbnb/svg_1.svg" alt="Icon 1">
                    <div class="amenity-info">
                      <span class="label">Rating</span>
                      <span class="value">{{ item.rating.guestSatisfaction }}%</span>
                    </div>
                  </div>

                  <div class="amenity">
                    <img src="assets/images/airbnb/svg_2.svg" alt="Icon 2">
                    <div class="amenity-info">
                      <span class="label">Reviews</span>
                      <span class="value">{{ item.rating.reviewsCount }}</span>
                    </div>
                  </div>

                  <div class="amenity">
                    <img src="assets/images/airbnb/svg_3.svg" alt="Icon 3">
                    <div class="amenity-info">
                      <span class="label">Ubicación</span>
                      <span class="value">
                        {{ ($any(item)).preciseLocation || 'Cargando...' }}
                        <small *ngIf="($any(item)).distance">({{ ($any(item)).distance | number:'1.1-1' }} mi)</small>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            } @empty {
            <div class="carousel-loading">
              <p>Cargando alojamientos disponibles...</p>
            </div>
            }

          </div>
        </div>
      </div>
    </section>
</div>

<div class="d-flex bg-prayer space-section justify-content-center">
    <section id="orador" class="d-flex align-items-center justify-content-center container">
        <div class="col-12 col-md-10 d-flex flex-column-reverse flex-lg-row justify-content-lg-between justify-content-center align-items-center gap-4 gap-md-0">
            <div class="col-10 col-md-5 d-flex flex-column justify-content-center align-items-start gap-3">
                <img class="iasd-img" src="../../../assets/images/iasd-logo.svg" alt="IASD Logo" loading="lazy">
                <h2 class="font-space fs-2">Pr. Josias Félix</h2>
                <p>Orador, Invitado Especial</p>
                <p>"La misión que tenemos puede parecer imposible, pero no lo olvides: nuestro Dios es especialista en imposibles. ¡Y nos prometió estar con nosotros hasta el fin del mundo!"
                </p>
            </div>
            <div class="col-10 col-lg-5 d-flex justify-content-lg-end justify-content-center align-items-center">
                <img class="prayer" src="../../../assets/images/prayer.webp" alt="Orador-Image" loading="lazy">
            </div>
        </div>
    </section>
</div>

<div class="d-flex bg-agenda space-section justify-content-center">
    <section id="agenda" class="container mt-agenda d-flex flex-column align-items-center justify-content-start">
        <div class="justify-content-center text-center col-10 col-md-8">
          <h6 class="font-space">Cronograma y</h6>
          <h2 class="font-space fs-2">Agenda de actividades</h2>
          <p>Nuestro cronograma está diseñado para equilibrar crecimiento espiritual, aprendizaje, comunidad y diversión.
                Revisa los horarios, llega a tiempo y prepárate a vivir una experiencia que marcará tu vida.
          </p>
        </div>
        <div class="d-flex flex-column align-items-center justify-content-center py-5 col-10 gap-4">
          <ul class="nav nav-pills d-flex flex-row align-items-center justify-content-start gap-1 gap-lg-4">
            <li class="nav-item" *ngFor="let category of categorias">
              <a class="nav-link nav-link-agenda font-space fs-6" [ngClass]="{ 'active': filtroActual === category }" href="#"
                (click)="cambiarFiltro(category); $event.preventDefault()">
                {{ category }}
              </a>
            </li>
          </ul>
          <div class="container d-flex flex-column align-items-start justify-content-center gap-3 px-md-1 px-lg-0">
            <div class="table-responsive col-12 rounded-2">
              <!-- <table class="table table-borderless align-middle"> -->
              <table class="table align-middle">
                <thead class="table-light">
                  <tr>
                    <th>Fecha</th>
                    <th>Título</th>
                    <th>Etiquetas</th>
                    <th>Responsable</th>
                    <th>Locación</th>
                    <th>Detalles</th>
                  </tr>
                </thead>
                <tbody class="table-light">
                  <tr *ngFor="let evento of eventosFiltrados">
                    <td class="col-1 event-item fs-6">{{ evento.horario[0] }} {{ evento.horario[1] }}</td>
                    <td class="title-event col-3 event-item fs-6">{{ evento.titulo }}</td>
                    <td class="event-item fs-6">
                      <span *ngFor="let tag of evento.tag" class="badge text-bg-primary me-1 fs-6">{{ tag }}</span>
                    </td>
                    <td class="col-2 event-item fs-6">{{ evento.speaker }}</td>
                    <td class="col-2 event-item fs-6">{{ evento.locacion }}</td>
                    <td class="col-2 event-item fs-6">
                      <a class="event-detail fs-6">Inscribirme</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </section>
</div>

<app-footer></app-footer>
