<div>
    <section id="inicio" class="d-flex justify-content-center align-items-center bg-hero">
        <div class="text-center bg-hero_content">
            <h3>Identidad y Propósito</h3>
            <h1>Congreso Juvenil</h1>
        </div>
    </section>

<div class="d-flex bg-about space-section justify-content-center">
    <section id="evento" class="mt-content about-section">
        <div class="container d-flex flex-column flex-md-row justify-content-center align-items-center gap-5">
            <div class="col-6 d-flex justify-content-center align-items-center">
                <img src="../../../assets/images/about-img.webp" alt="" class="img-about">
            </div>
            <div class="col-4 d-flex flex-column justify-content-center align-items-start">
                <h3>Congreso</h3>
                <h2>Juvenil "S.A.N.A.R"</h2>
                <p>El modelo S.A.N.A.R. garantiza que cada actividad, desde la predicación más solemne hasta el juego más dinámico, tenga una razón de ser dentro del ecosistema del congreso.
                </p>
            </div>
        </div>
    </section>
    <section id="hospedaje" class="">
        <div>
            <div>
                
            </div>
        </div>
    </section>
</div>
<div class="d-flex bg-prayer space-section justify-content-center">
    <section id="orador" class="mt-content">
        <div class="container d-flex flex-column flex-md-row justify-content-center align-items-center gap-5">
            <div class="col-4 d-flex flex-column justify-content-center align-items-start">
                <img class="iasd-img" src="../../../assets/images/iasg-logo.svg" alt="">
                <h2>Pr. Josias Félix</h2>
                <h5>Orador, Invitado Especial</h5>
                <p>"La misión que tenemos puede parecer imposible, pero no lo olvides: nuestro Dios es especialista en imposibles. ¡Y nos prometió estar con nosotros hasta el fin del mundo!"
                </p>
            </div>
            <div>
                
            </div>
            <div class="col-6 d-flex justify-content-center align-items-center">
                <img class="prayer" src="../../../assets/images/prayer.webp" alt="">
            </div>
        </div>
    </section>
</div>

</div>

<app-footer></app-footer>