@import url('../../../styles.scss');

.mt-content{
    margin-top: 300px;
}

@font-face{
    font-family: 'principal-title';
    src: url("../../../assets/fonts/magdes/magdes-regular.woff2") format('truetype');
}

h1{
    font-family: 'principal-title';
    font-size:90px;
    font-style:bold;
}

.bg-hero{
    background-image: url("../../../assets/images/hero-bg.webp");
    background-size:cover;
    background-repeat: no-repeat;
    height:1000px;
    .bg-hero_content {
        margin-top: -350px;
    }
}

.about-section{
    height: 500px;
}

.bg-about{
    background-image: url("../../../assets/images/about-bg.webp");
    background-size:cover;
    background-repeat: no-repeat;
    height:2350px;
    width: 100%;
}

.space-section{
    margin-top: -90px;
}

.img-about{
    height: 500px;
}

/* ---------------- PRAYER SECTION ---------------- */
.bg-prayer{
    background-image: url("../../../assets/images/prayer-bg.webp");
    background-size:cover;
    background-repeat: no-repeat;
    height:1000px;
    width: 100%;
}

.iasd-img{
    width: 100%;
    height: 60px;
}

.prayer{
    height: 550px;
}


/* ---------------- AGENDA SECTION ---------------- */
.bg-agenda{
    background-image: url("../../../assets/images/agenda-bg.webp");
    background-size:cover;
    background-repeat: no-repeat;
    height:1000px;
    width: 100%;
}

h6{
    color: #9D744A;
    font-style: bold;
}