<nav class="navbar bg-nav navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/images/fesja-icon.svg" alt="" width="80" class="d-inline-block align-text-top">
    </a>
    <div class="navbar d-flex flex-md-row justify-content-center">
      <div class="navbar-nav col-7 gap-5">
        <a class="nav-link txt-nav" href="#inicio">Inicio</a>
        <a class="nav-link txt-nav" href="#evento">Evento</a>
        <a class="nav-link txt-nav" href="#hospedaje">Hospedaje</a>
        <a class="nav-link txt-nav" href="#orador">Orador</a>
        <a class="nav-link txt-nav" href="#agenda">Agenda</a>
        <a class="nav-link txt-nav" href="#">Testimonios</a>
        <a class="nav-link txt-nav" href="#">Preguntas</a>
      </div>
      <div class="col-2 gap-6">
        <button class="btn-nav">
          <a class="txt-btn" href="#">Muy pronto</a>
        </button>
      </div>
    </div>
  </div>
</nav>