.navbar{
    position: fixed;
    z-index: 999;
    width: 100%;
    margin-top: -10px;
}

.bg-nav{
    background-image: url("../../../assets/images/img-nav.svg");
    /* background-color: aquamarine; */
    background-size:auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 140px;
    width: 100%;
    filter: drop-shadow(5px 10px 15px rgba(0, 0, 0, 0.3));
}

.txt-nav{
    font-style: bold;
    color: black;   
}

.btn-nav{
    border-radius: 5px;
    background-color: #D5B28D;
    border: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px 10px;
    width: 105px;
    height: 35px;
}


.btn-nav:hover{
    background-color: #c2a88c;
}

.txt-btn{
    text-decoration: none;
    color: white;
}
