<footer>
    <div class="container d-flex justify-content-center align-items-start">
        <div class="column-1">
            <img class="logo-footer" src="../../../assets/images/logo-fesja-white.svg" alt="">
        </div>
        <div class="column-2">
            <div class="gap-3 d-none d-lg-flex menu-footer">
                <a class="nav-link font-space fw-normal text-white fs-6" href="#inicio">Inicio</a>
                <a class="nav-link font-space fw-normal text-white fs-6" href="#evento">Evento</a>
                <a class="nav-link font-space fw-normal text-white fs-6" href="#hospedaje">Hospedaje</a>
                <a class="nav-link font-space fw-normal text-white fs-6" href="#orador">Orador</a>
                <a class="nav-link font-space fw-normal text-white fs-6" href="#agenda">Agenda</a>
                <a class="nav-link font-space fw-normal text-white fs-6" href="#testimonios">Testimonios</a>
                <a class="nav-link font-space fw-normal text-white fs-6" href="#preguntas">Preguntas</a>
            </div>
        </div>
        <div class="column-3 text-end">
            <div class="gap-3 social-icons">
                <a class="img-space" href="#"><img src="../../../assets/images/social/facebook.svg" alt=""></a>
                <a class="img-space" href="#"><img src="../../../assets/images/social/instagram.svg" alt=""></a>
                <a href="#"><img src="../../../assets/images/social/youtube.svg" alt=""></a>
            </div>
        </div>
    </div>
    <div class="container">
        <hr>
    </div>
    <div class="container d-flex flex-row">
        <div class="col-6">
            <p class="font-space fw-normal fs-6">© 2026 Fesja Arizona. Todos los derechos reservados</p>
        </div>
        <div class="col-6 text-end">
            <a class="ft-space font-space fw-normal text-white fs-6" href="#">Políticas de Privacidad</a>
            <a class="font-space fw-normal text-white fs-6" href="#">Términos y Condiciones</a>
        </div>
    </div>
</footer>