<div class="container container-fluid text-center footer-position">
    <footer>
        <div class="d-flex flex-column flex-md-row align-items-center">
            <div class="col text-start">
                <img class="logo-footer" src="../../../assets/images/logo-fesja-white.svg" alt="">          
            </div>
            <div class="col-6 d-none d-md-flex">
                <ul class="nav justify-content-center">
                    <li class="nav-item"><a class="nav-link px-2 t-space fw-normal text-white fs-6" href="#inicio">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link px-2 t-space fw-normal text-white fs-6" href="#evento">Evento</a></li>
                    <li class="nav-item"><a class="nav-link px-2 t-space fw-normal text-white fs-6" href="#hospedaje">Hospedaje</a></li>
                    <li class="nav-item"><a class="nav-link px-2 t-space fw-normal text-white fs-6" href="#orador">Orador</a></li>
                    <li class="nav-item"><a class="nav-link px-2 t-space fw-normal text-white fs-6" href="#agenda">Agenda</a></li>
                    <li class="nav-item"><a class="nav-link px-2 t-space fw-normal text-white fs-6" href="#testimonios">Testimonios</a></li>
                    <li class="nav-item"><a class="nav-link px-2 t-space fw-normal text-white fs-6" href="#preguntas">Preguntas</a></li>
                </ul>
            </div>
            <div class="col text-end">
                <a class="img-space" href="#"><img src="../../../assets/images/social/facebook.svg" alt=""></a>
                <a class="img-space" href="#"><img src="../../../assets/images/social/instagram.svg" alt=""></a>
                <a class="img-space" href="#"><img src="../../../assets/images/social/youtube.svg" alt=""></a>
            </div>
        </div>
        <hr>
        <div class="d-flex flex-column flex-md-row align-items-center">
            <div class="d-flex col-10 col-md-6 justify-content-start text-center">
                <p class="fw-normal text-white fs-6">© 2026 Fesja Arizona. Todos los derechos reservados</p>
            </div>
            <div class="d-flex col-10 col-md-6 gap-2 justify-content-end">
                <a class="fw-normal text-white fs-6" href="#">Políticas de Privacidad</a>
                <a class="fw-normal text-white fs-6" href="#">Términos y Condiciones</a>
            </div>
        </div>
    </footer>
</div>